<body>
    <p>
        <a href="./home">Home</a>
    </p>
    <p>
        <a href="./about">About</a>
    </p>
    <p>
        <a href="./bad">Bad</a>
    </p>
    <p>
        <a href="./demo">Demo</a>
    </p>
</body>